.edit-user{
    margin-top: 60px;
    background-image: url('/assets/images/users.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}