<section class="container-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col about">
        <h1>About our company</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="featured-content-thumb">
          <img src="/assets/images/feature-thumb-2.png" class="img-fluid" alt="About Thumb">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content-md">
          <div class="featured-content">
            <h3>We’re Innovators
              <span>&amp; Marketing Experts.</span>
            </h3>
            <p class="subtext">It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
            <ul>
              <li>It was popularised in the 1960s with the release of Letraset Sheets containing lorem.</li>
              <li>But I must explain to you how all this mistaken</li>
              <li> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>