<div class="projects">
  <div class="projects_header">
    <h2>Our projects</h2>
  </div>
  <div class="projects_details">
    <div class="projects_details-card card">
      <div class="projects_details-data">
        <i class="fa fa-medkit icon-round"></i>
        <h5>Hospital</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="projects_details-card card">
      <div class="projects_details-data">
        <i class="fa fa-medkit icon-round"></i>
        <h5>Hospital</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="projects_details-card card">
      <div class="projects_details-data">
        <i class="fa fa-medkit icon-round"></i>
        <h5>Hospital</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="projects_details-card card">
      <div class="projects_details-data">
        <i class="fa fa-medkit icon-round"></i>
        <h5>Hospital</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="projects_details-card card">
      <div class="projects_details-data">
        <i class="fa fa-medkit icon-round"></i>
        <h5>Hospital</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="projects_details-card card">
      <div class="projects_details-data">
        <i class="fa fa-medkit icon-round"></i>
        <h5>Hospital</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
  </div>
</div>
