.projects {
  &_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-card {
      background-color: white;
      border-width: 1px 1px 1px 1px;
      border-color: #e6e6e6;
      box-shadow: 0px 5px 45px 0px rgba(102, 102, 102, 0.24);
      border-radius: 10px;
      border-radius: 10px;
      flex: 0 0 33.3333%;
      flex-basis: 22%;
      margin: 30px;
      padding: 70px;
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(/assets/images/projects.png);
      transition: box-shadow .3s;
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
    &-card:hover{
        transition: box-shadow .3s;
        box-shadow: 0 0 11px rgba(33,33,33,.2);
        border: 1px solid orangered; 
    }
  }

  .projects_header {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 4.0rem;
      font-weight: 800;
      font-family: 'Satisfy', cursive;
      color: #16334e;
      line-height: 1;
      margin-bottom: 112px;
    }
  }
  .icon-round{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-color: #232838;
    box-shadow: 0 18px 32px rgba(0, 0, 0, 0.28);
    line-height: 86px;
    position: relative;
    color: #fff;
    font-size: 2.571em;
    text-align: center;
    margin-bottom: 35px;
  }
  .icon-round:hover{
      background-color: red;
      border: 1px solid green;
     
  }
}

@media (max-width: 768px){
    .projects_details {
        display: flex;
        flex-direction: column;
    }
}