.main-header {
  width: 100%;
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  background-image: url('/assets/images/bg.png');
  margin-bottom: 100px;
}

.main-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 3.75rem;
    line-height: 5.375rem;
    margin-bottom: 1.5rem;
    color: #fff;
    font-family: "proxima-nova-n4", "proxima-nova";
    font-style: normal;
    font-weight: 400;
    margin-top: 70px;
    font-weight: normal;
  }

  p {
    font-size: 1.25rem;
    font-weight: normal;
    color: white;
    text-align: center;
    max-width: 700px;
    margin-bottom: 3.375rem;
    margin-right: auto;
    margin-left: auto;
  }
  .readmore{
      border: 1px solid;
      border-radius: 300px;
      color: #fff;
      padding: 10px;
      width: 150px;
      text-align: center;
      transition: all 0.15s ease-in-out;

  }
  .readmore:hover{
      background-color: white;
      color: #000;
      border: 2px solid #00964e;
  }
}

.login-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .main-banner {
    text-align: center;
    padding: 0.5rem 1rem
  }
}

